{% extends 'base.html' %}

{% block page %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    {% set tabs = [
                        ['orders', 'orders_bp.index', _('Orders')],
                        ['products', 'products_bp.index', _('Products')],
                        ['retailers', 'retailers_bp.index', _('Retailers')],
                        ['urls', 'urls_bp.index', _('Urls')],
                        ['admin', 'admin_bp.index', _('Admin')],
                    ] %}
                    {% for key, endpoint, label in tabs %}
                        {% if can_access(endpoint) %}
                            <li{% if main_tab ==  key %} class="active"{% endif %}><a href="{{ url_for(endpoint) }}">{{ label }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-10">
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        {% for message in errors %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
{% endblock page %}
