{% extends 'base.html' %}

{% block page %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li{% if main_tab == 'analytics' %} class="active"{% endif %}><a href="/">Analytics</a></li>
                    <li{% if main_tab == 'orders' %} class="active"{% endif %}><a href="{{ url_for('orders_bp.index') }}">Orders</a></li>
                    <li{% if main_tab == 'products' %} class="active"{% endif %}><a href="{{ url_for('products_bp.index') }}">Products</a></li>
                    <li{% if main_tab == 'retailers' %} class="active"{% endif %}><a href="{{ url_for('retailers_bp.index') }}">Retailers</a></li>
                </ul>
            </div>
            <div class="col-md-10">
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        {% for message in errors %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
{% endblock page %}
