{% extends 'layout.html' %}

{% block content %}
    <h1>Commande</h1>
    <form name="order_form" method="POST" class="form-inline" role="form">
        {{ form.csrf_token }}
        <h2>Contact</h2>
        <div class="form-group">
            {{ form.customer_firstname.label }} {{ form.customer_firstname() }}
        </div>
        <div class="form-group">
            {{ form.customer_lastname.label }} {{ form.customer_lastname() }}
        </div>
        <div class="form-group">
            {{ form.customer_email.label }} {{ form.customer_email() }}
        </div>
        <h2>Produits</h2>
        <div class="items">
            {% for item_line in form.item_lines %}
                <div>
                    <div class="form-group">
                        {{ item_line.variant_id.label }} {{ item_line.variant_id }}
                    </div>
                    <div class="form-group">
                        {{ item_line.quantity.label }} {{ item_line.quantity }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-xs del_line">-</button>
                    </div>
                </div>
            {% endfor %}
        <div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    </form>
{% endblock content %}
