{% extends 'admin/layout.html' %}

{% set sub_tab = 'users' %}

{% block content %}
    {{ super() }}
    <h2>{{ _('Users list') }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('Firstname') }}</th>
                <th>{{ _('Lastname') }}</th>
                <th>{{ _('Email') }}</th>
                <th>{{ _('Phone') }}</th>
                <th>{{ _('Username') }}</th>
                <th><a href="{{ url_for('users_bp.user') }}" class="glyphicon glyphicon-plus text-success"></a></th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.firstname }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.username }}</td>
                    <td><a href="{{ url_for('users_bp.user', user_id=contact.id) }}" class="glyphicon glyphicon-pencil"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
