{% extends 'layout.html' %}

{% block content %}
    <h1>Place an order</h1>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {% for message in errors %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form name="quantity_form" method="POST" class="form-horizontal" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <fieldset>
            <legend>Retailers</legend>
            <div id="retailer_choices" class="btn-group" data-toggle="buttons" style="margin-bottom: 20px;">
            {% for retailer in retailers %}
                <label class="btn btn-default">
                    <input type="radio" name="retailer_id" value="{{ retailer.id }}" />{{ retailer.name }}
                </label>
            {% endfor %}
            </div>
        </fieldset>
        <fieldset>
            <legend>Products</legend>
            {% for product in products %}
                <div class="col-xs-6 col-md-2">
                    <span class="thumbnail">
                        <img  data-toggle="tooltip" title="{{ product.title }}" alt="{{ product.title }}" src="{{ product.image }}" class="img-responsive" />
                        <div class="caption">
                            <p class="quantity_changer clearfix" style="text-align: center;">
                                <a href="#" class="btn btn-default btn-xs" role="button" data-value="-1">-</a>
                                <input type="hidden" name="product_id" value="{{ product.id }}" />
                                <input type="text" name="quantity" value="0" class="quantity_value" style="width: 20px; border: 0; text-align: center;" readonly />
                                <a href="#" class="btn btn-default btn-xs" role="button" data-value="1">+</a>
                            </p>
                        </div>
                    </span>
                </div>
            {% endfor %}
        </fieldset>
        <button class="btn btn-primary">Valider</button>
    </form>
    <br />
    <ul id="pager" class="pagination">
        <li{% if page == 1 %} class="disabled"{% endif %}><a href="{{ url_for('retailers_bp.index') }}?page={{ page - 1 }}">&laquo;</a></li>
        {% for i in range(0, max_page) %}
            {% set real_i = i + 1 %}
            <li{% if page == real_i %} class="active"{% endif %}><a href="{{ url_for('retailers_bp.index') }}?page={{ real_i }}">{{ real_i }}</a></li>
        {% endfor %}
        <li{% if page == max_page %} class="disabled"{% endif %}><a href="{{ url_for('retailers_bp.index') }}?page={{ page + 1 }}">&raquo;</a></li>
    </ul>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('img').tooltip();
            $('#retailer_choices').button();
            $('.quantity_changer').on('click', 'a', function(e) {
                e.preventDefault();
                var self = $(this),
                    value = parseInt(self.data('value')),
                    input = $(e.delegateTarget).find('input.quantity_value'),
                    newValue = Math.max(0, parseInt(input.val()) + value);
                input.val(newValue);
            });
        });
    </script>
{% endblock script %}
