{% extends 'layout.html' %}

{% set main_tab = 'products' %}

{% block content %}
    <h1>{{ _('Products') }}</h1>
    <a href="{{ url_for('products_bp.sync') }}" class="btn btn-success refresh_products"><span class="glyphicon glyphicon-refresh"></span> {{ _('Refresh from Shopify') }}</a>
    <table id="sales" class="table table-condensed">
        <thead>
            <tr>
                <th>{{ _('Product') }}</th>
                <th>{{ _('Price') }}</th>
                <th>{{ _('Cost') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                {% set current_cost = product.costs.first().value if product.costs.count() else None %}
                <tr class="action_row" data-product-id="{{ product.id }}" data-label="{{ product.title }}" data-value="{{ current_cost if current_cost else '' }}">
                    <td>{{ product.title }}</td>
                    <td>{{ product.unit_price|currency }}</td>
                    <td>{{ current_cost|currency if current_cost else 'No cost' }}{% if product.costs.count() %}&nbsp;<a href="{{ url_for('products_bp.costs', product_id=product.id) }}" class="glyphicon glyphicon-search cost_lookback"></a>{% endif %}</td>
                    <td><a class="edit_cost" href="{{ url_for('products_bp.costs', product_id=product.id) }}">{{ _('Edit') }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul id="pager" class="pagination">
        <li{% if page == 1 %} class="disabled"{% endif %}><a href="{{ url_for('products_bp.index', page=page - 1) }}">&laquo;</a></li>
        {% for i in range(0, max_page) %}
            {% set real_i = i + 1 %}
            <li{% if page == real_i %} class="active"{% endif %}><a href="{{ url_for('products_bp.index', page=real_i) }}">{{ real_i }}</a></li>
        {% endfor %}
        <li{% if page == max_page %} class="disabled"{% endif %}><a href="{{ url_for('products_bp.index', page=page + 1) }}">&raquo;</a></li>
    </ul>
    <div id="product_cost_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ _('Edit product cost') }}</h4>
                </div>
                <div class="modal-body">
                    <form id="cost_form" role="form" class="form-inline" method="POST">
                        <div class="form-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <label for="product_cost" style="margin-right: 5px;">{{ _('Product cost') }}</label>
                            <input type="text" class="form-control" id="product_cost" name="product_cost">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
                    <button type="button" class="btn btn-primary validate_cost">{{ _('Update') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script id="costs_list" type="text/html">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Price') }}</th>
                </tr>
            </thead>
            <tbody>
                %% cost_lines %%
            </tbody>
        </table>
    </script>
    <script id="cost_line" type="text/html">
        <tr>
            <td>%% cost_date %%</td>
            <td style="text-align: right;">%% cost_price %%</td>
        </tr>
    </script>
    <script>
        var csrf_token = '{{ csrf_token() }}';
        $(document).ready(function() {
            $('.cost_lookback').popover({
                trigger: 'manual',
                html: true,
                title: 'Costs history'
            });
            $('.action_row')
                .on('click', '.cost_lookback', function(e) {
                    e.preventDefault();
                    var self = $(this),
                        row = $(e.delegateTarget);
                    if (self.data('content')) {
                        self.popover('toggle');
                        return;
                    }
                    $.ajax({
                        type: 'GET',
                        url: self.attr('href'),
                        success: function(response) {
                            var costs = response.costs;
                            if (!costs) {
                                return;
                            }
                            var lines_content = '',
                                line_tpl = $('#cost_line').html();
                            $.each(costs, function() {
                                lines_content += line_tpl
                                    .replace('%% cost_date %%', this.date)
                                    .replace('%% cost_price %%', this.value);
                            });
                            self.attr('data-content', $('#costs_list').html().replace('%% cost_lines %%', lines_content));
                            self.popover('show');
                        }
                    });
                })
                .on('click', '.edit_cost', function(e) {
                    e.preventDefault();
                    var row = $(e.delegateTarget);
                    $('#cost_form')
                        .attr('action', $(this).attr('href'))
                        .find('label').html(row.data('label')).end()
                        .find('[name=product_cost]').val(row.data('value')).end();
                    $('#product_cost_modal').modal('show');
                });

            $('#cost_form').on('submit', function(e) {
                e.preventDefault();
                var self = $(this);
                $.ajax({
                    type: 'POST',
                    url: self.attr('action'),
                    data: self.serialize(),
                    success: function(response) {
                        $('#product_cost_modal').modal('hide');
                        document.location = '{{ url_for('products_bp.index') }}';
                    }
                });
            });

            $('#product_cost_modal .validate_cost').on('click', function(e) {
                $('#cost_form').trigger('submit');
            });

            $('.refresh_products').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('href'),
                    method: 'POST',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        document.location = '{{ url_for('products_bp.index') }}';
                    }
                });
            });
        });
    </script>
{% endblock script %}
