{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'contacts' %}

{% block list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('Firstname') }}</th>
                <th>{{ _('Lastname') }}</th>
                <th>{{ _('Email') }}</th>
                <th>{{ _('Phone') }}</th>
                <th><a href="{{ url_for('retailers_bp.contact', retailer_id=retailer.id) }}" class="glyphicon glyphicon-plus text-success"></a></th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.firstname }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.email|default('', True) }}</td>
                    <td>{{ contact.phone|default('', True) }}</td>
                    <td>
                        <a href="{{ url_for('retailers_bp.contact', retailer_id=retailer.id, contact_id=contact.id) }}" class="glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list %}
