<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <title>Bon de dépôt - {{ retailer.name }} - {{ delivery_slip.delivery_date }}</title>
        <style>
            body {}
            .table .total_line > td { border-top: none; }
            .import_export { font-size: 10px; }
        </style>
    </head>
    <body>
        <div class="container" style="position: relative; height: 1000px;">
            <div class="row">
                <div class="text-center">
                    <img src="https://cdn.shopify.com/s/files/1/0343/0553/files/TAMMY_AND_BENJAMIN_EMAIL_LOGO_1.jpg?8893" />
                </div>
            </div>
            <div class="row" style="margin-top: 80px;">
                <div class="col-xs-6">
                    <address>
                        {{ retailer.name }}<br />
                        {{ retailer.address }}<br />
                        {{ retailer.zip }} {{ retailer.city }}<br />
                        {{ retailer.country }}
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        {{ delivery_slip.delivery_date }}<br />
                        {{ delivery_slip.no }}
                    </address>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Produit</th>
                        <th class="text-center">Ref</th>
                        <th class="text-center">Qté</th>
                        <th class="text-center">Prix de vente<br />conseillé</th>
                        <th class="text-center">Comm</th>
                        <th class="text-center">Prix T&B HT</th>
                        <th class="text-center">TVA</th>
                        <th class="text-center">Total TTC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in delivery_slip.lines %}
                        <tr>
                            <td>{{ line.product.title }}</td>
                            <td>{{ line.product.sku }}</td>
                            <td class="text-right">{{ line.quantity }}</td>
                            <td class="text-right">{{ line.recommanded_price|currency }}</td>
                            <td class="text-right">{{ '%.0f%%'|format(line.fees * 100) }}</td>
                            <td class="text-right">{{ line.excl_tax_price|currency }}</td>
                            <td class="text-right">{{ line.tax_price|currency }}</td>
                            <td class="text-right">{{ line.incl_tax_price|currency }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="total_line text-right">
                        <td colspan="2">Total produits</td>
                        <td>{{ products_count }}</td>
                        <td colspan="3"></td>
                        <td>Total HT</td>
                        <td>{{ delivery_slip.excl_tax_price|currency }}</td>
                    </tr>
                    <tr class="total_line text-right">
                        <td colspan="7">TVA 20%</td>
                        <td>{{ delivery_slip.tax_price|currency }}</td>
                    </tr>
                    <tr class="total_line text-right">
                        <td colspan="7"><strong>Total TTC</strong></td>
                        <td class="active"><strong>{{ delivery_slip.incl_tax_price|currency }}</strong></td>
                    </tr>
                </tbody>
            </table>
            <address class="text-center small disabled">
                TAMMY & BENJAMIN SAS - 13 rue Biscornet - 75012<br />
                SAS au capital de 80 000 €<br />
                +33 6 42 21 32 47 - order@tammyandbenjamin.com<br />
                www.tammyandbenjamin.com
            </address>
        </div>
    </body>
</html>
