{% extends 'retailers/layout.html' %}

{% block content %}
    {{ super() }}
    <h2>{{ _('Retailers list') }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Address') }}</th>
                <th>{{ _('Zip') }}</th>
                <th>{{ _('City') }}</th>
                <th>{{ _('Fees') }}</th>
                <th>{{ _('Contacts') }}</th>
                <th><a href="{{ url_for('retailers_bp.new_retailer') }}" class="glyphicon glyphicon-plus text-success"></a></th>
            </tr>
        </thead>
        <tbody>
            {% for retailer in retailers %}
                <tr class="retailer">
                    <td><a href="{{ url_for('retailers_bp.retailer', retailer_id=retailer.id) }}">{{ retailer.name }}</a></td>
                    <td>{{ retailer.address }}</td>
                    <td>{{ retailer.zip }}</td>
                    <td>{{ retailer.city }}</td>
                    <td>{{ retailer.fees_proportion|percent }}</td>
                    <td>{{ retailer.contacts|count }}</td>
                    <td><a href="{{ url_for('retailers_bp.retailer', retailer_id=retailer.id) }}" class="glyphicon glyphicon-minus text-danger delete_retailer"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var csrf_token = '{{ csrf_token() }}';
            $('.delete_retailer').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('{{ _('Are you sure to delete this retailer ?') }}')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'DELETE',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer').hide();
                    }
                });
            });
        });
    </script>
{% endblock script %}
