{% extends 'retailers/layout.html' %}

{% block content %}
    {{ super() }}
    <h2>Retailers list</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Zip</th>
                <th>City</th>
                <th>Fees</th>
                <th>Contact</th>
                <th><a href="{{ url_for('retailers_bp.new_retailer') }}" class="glyphicon glyphicon-plus text-success"></a></th>
            </tr>
        </thead>
        <tbody>
            {% for retailer in retailers %}
                <tr class="retailer">
                    <td><a href="{{ url_for('retailers_bp.retailer', retailer_id=retailer.id) }}" target="_blank">{{ retailer.name }}</a></td>
                    <td>{{ retailer.address }}</td>
                    <td>{{ retailer.zip }}</td>
                    <td>{{ retailer.city }}</td>
                    <td>{{ '%.0f%%'|format(retailer.fees_proportion * 100) }}</td>
                    <td>{{ retailer.contact_firstname|default('') }} {{ retailer.contact_lastname|default('') }}</td>
                    <td><a href="{{ url_for('retailers_bp.retailer', retailer_id=retailer.id) }}" class="glyphicon glyphicon-minus text-danger delete_retailer"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var csrf_token = '{{ csrf_token() }}';
            $('.delete_retailer').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('Are you sure to delete this retailer ?')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'DELETE',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer').hide();
                    }
                });
            });
        });
    </script>
{% endblock script %}
