{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'invoices' %}

{% block list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Retailer</th>
                <th>HT</th>
                <th>TVA</th>
                <th>TTV</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td><a href="{{ url_for('retailers_bp.invoice', retailer_id=retailer.id, invoice_id=invoice.id) }}">{{ invoice.no }}</a></td>
                    <td>{{ invoice.issue_date }}</td>
                    <td>{{ '{:.2f} €'.format(invoice.excl_tax_price) }}</td>
                    <td>{{ '{:.2f} €'.format(invoice.tax_price) }}</td>
                    <td>{{ '{:.2f} €'.format(invoice.incl_tax_price) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list %}
