{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'invoices' %}

{% block list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('No') }}</th>
                <th>{{ _('Issue date') }}</th>
                <th>{{ _('excl. VAT') }}</th>
                <th>{{ _('VAT') }}</th>
                <th>{{ _('incl. VAT') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td><a href="{{ url_for('retailers_bp.invoice', retailer_id=retailer.id, invoice_id=invoice.id) }}">{{ invoice.no }}</a></td>
                    <td>{{ invoice.issue_date }}</td>
                    <td>{{ invoice.excl_tax_price|currency }}</td>
                    <td>{{ invoice.tax_price|currency }}</td>
                    <td>{{ invoice.incl_tax_price|currency }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list %}
