{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'supplies' %}

{% block list %}
    <h2>Add in stock</h2>
    <form name="quantity_form" method="POST" class="form-horizontal" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <fieldset>
            <legend>Products</legend>
            <div class="row">
                {% for product in products %}
                    <div class="col-xs-6 col-md-2">
                        <label class="thumbnail" style="cursor: pointer;">
                            <img  data-toggle="tooltip" title="{{ product.title }}" alt="{{ product.title }}" src="{{ product.image }}" class="img-responsive" />
                            <div class="caption" style="text-align: center;">
                                <p class="quantity_changer clearfix" style="text-align: center;" data-max-quantity="{{ product.quantity }}">
                                    <a href="#" class="btn btn-default btn-xs" role="button" data-value="-1">-</a>
                                    <input type="hidden" name="product_id" value="{{ product.id }}" />
                                    <input type="text" name="quantity" value="0" class="quantity_value" style="width: 20px; border: 0; text-align: center;" readonly />
                                    <a href="#" class="btn btn-default btn-xs" role="button" data-value="1">+</a>
                                 </p>
                            </div>
                        </label>
                    </div>
                    {% if loop.index is divisibleby(2) %}
                        <div class="clearfix visible-xs-block"></div>
                        {% if loop.index is divisibleby(3) %}
                            <div class="clearfix visible-md-block"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
        <button class="btn btn-primary">Valider</button>
    </form>
    <ul id="pager" class="pagination">
        <li{% if page == 1 %} class="disabled"{% endif %}><a href="{{ url_for('retailers_supplies_bp.add', retailer_id=retailer.id, page=page - 1) }}">&laquo;</a></li>
        {% for i in range(0, max_page) %}
            {% set real_i = i + 1 %}
            <li{% if page == real_i %} class="active"{% endif %}><a href="{{ url_for('retailers_supplies_bp.add', retailer_id=retailer.id, page=real_i) }}">{{ real_i }}</a></li>
        {% endfor %}
        <li{% if page == max_page %} class="disabled"{% endif %}><a href="{{ url_for('retailers_supplies_bp.add', retailer_id=retailer.id, page=page + 1) }}">&raquo;</a></li>
    </ul>
{% endblock list %}

{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $('img').tooltip();
            $('.quantity_changer').on('click', 'a', function(e) {
                e.preventDefault();
                var self = $(this),
                    delegate = $(e.delegateTarget),
                    value = parseInt(self.data('value')),
                    input = delegate.find('input.quantity_value'),
                    newValue = Math.max(0, parseInt(input.val()) + value);
                if (newValue > delegate.data('maxQuantity')) {
                    return;
                }
                input.val(newValue);
            });
        });
    </script>
{% endblock script %}
