{% extends 'retailers/layout.html' %}

{% block content %}
    {{ super() }}
    <div class="page-header">
        <h1>{{ retailer.name }} <small><a href="{{ url_for('retailers_bp.edit_retailer', retailer_id=retailer.id) }}">edit</a></small></h1>
        <div class="row">
            <ul class="list-unstyled col-sm-6">
                <li>{{ retailer.address }}</li>
                <li>{{ retailer.zip }}, {{ retailer.city }}</li>
            </ul>
            <ul class="list-unstyled col-sm-6">
                <li><strong>Contact:</strong> {{ retailer.contact_firstname }} {{ retailer.contact_lastname }}</li>
                <li><strong>Fees:</strong> {{ '%.0f%%'|format(retailer.fees_proportion * 100) }}</li>
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li{% if retailer_tab == 'supplies' %} class="active"{% endif %}><a href="{{ url_for('retailers_bp.supplies', retailer_id=retailer.id) }}">Supplies <span class="badge alert-info">{{ tab_counts.supplies }}</span></a></li>
        <li{% if retailer_tab == 'sold' %} class="active"{% endif %}><a href="{{ url_for('retailers_bp.sold', retailer_id=retailer.id) }}">Sold <span class="badge alert-info">{{ tab_counts.sold }}</span></a></li>
        <li{% if retailer_tab == 'invoices' %} class="active"{% endif %}><a href="{{ url_for('retailers_bp.invoices', retailer_id=retailer.id) }}">Invoices <span class="badge alert-info">{{ tab_counts.invoices }}</span></a></li>
    </ul>
    {% block list %}{% endblock list %}
{% endblock content %}
