{% extends 'retailers/layout.html' %}

{% block content %}
    {{ super() }}
    <div class="page-header">
        <h1>{{ retailer.name }} <small><a href="{{ url_for('retailers_bp.edit_retailer', retailer_id=retailer.id) }}">edit</a></small></h1>
        <div class="row">
            <ul class="list-unstyled col-sm-6">
                <li>{{ retailer.address }}</li>
                <li>{{ retailer.zip }}, {{ retailer.city }}</li>
            </ul>
            <ul class="list-unstyled col-sm-6">
                <li><strong>{{ _('Contact:') }}</strong> {{ retailer.contact_firstname }} {{ retailer.contact_lastname }}</li>
                <li><strong>{{ _('Fees:') }}</strong> {{ retailer.fees_proportion|percent }}</li>
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li{% if retailer_tab == 'delivery_slips' %} class="active"{% endif %}><a href="{{ url_for('retailers_deliveries_bp.index', retailer_id=retailer.id) }}">{{ _('Delivery Slips') }} <span class="tab_counts delivery_slips badge alert-info">{{ tab_counts.delivery_slips }}</span></a></li>
        <li{% if retailer_tab == 'stocks' %} class="active"{% endif %}><a href="{{ url_for('retailers_stocks_bp.index', retailer_id=retailer.id) }}">{{ _('Stocks') }} <span class="tab_counts stocks badge alert-info">{{ tab_counts.stocks }}</span></a></li>
        <li{% if retailer_tab == 'sold' %} class="active"{% endif %}><a href="{{ url_for('retailers_bp.sold', retailer_id=retailer.id) }}">{{ _('Sold') }} <span class="tab_counts sold badge alert-info">{{ tab_counts.sold }}</span></a></li>
        <li{% if retailer_tab == 'invoices' %} class="active"{% endif %}><a href="{{ url_for('retailers_bp.invoices', retailer_id=retailer.id) }}">{{ _('Invoices') }} <span class="tab_counts invoices badge alert-info">{{ tab_counts.invoices }}</span></a></li>
    </ul>
    {% block list %}{% endblock list %}
{% endblock content %}

{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            $(document).on('update-tab-counts', function(e, tab_counts) {
                $.each(tab_counts, function(key, value) {
                    $('.tab_counts.' + key).html(value);
                });
            });
        });
    </script>
{% endblock script %}
