{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'sold' %}

{% block list %}
    <br />
    <a href="{{ url_for('retailers_bp.make_invoice', retailer_id=retailer.id) }}" class="pull-right btn btn-primary make_invoice">Make invoice</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ _('Product name') }}</th>
                <th>{{ _('Retailer price excl. VAT') }}</th>
                <th>{{ _('Retailer price incl. VATC') }}</th>
                <th>{{ _('TAB price excl. VAT') }}</th>
                <th>{{ _('TAB price incl. VAT') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                {% set price_incl_tax = stock.product.unit_price %}
                {% set price_excl_tax = price_incl_tax / g.config.get('APP_VAT') %}
                {% set retailer_excl_tax = price_incl_tax * (1 - retailer.fees_proportion) %}
                {% set retailer_incl_tax = retailer_excl_tax * g.config.get('APP_VAT') %}
                <tr class="retailer_product" data-product-order-id="{{ stock.id }}">
                    <td>
                        <input type="checkbox" name="retailer_product_id" value="{{ stock.id }}" />
                    </td>
                    <td>{{ stock.product.title }}</td>
                    <td>{{ retailer_excl_tax|currency }}</td>
                    <td>{{ retailer_incl_tax|currency }}</td>
                    <td>{{ price_excl_tax|currency }}</td>
                    <td>{{ price_incl_tax|currency }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var csrf_token = '{{ csrf_token() }}';
            $('.make_invoice').on('click', function(e) {
                e.preventDefault();
                var self = $(this),
                    retailer_product_ids = [],
                    checked_inputs = $('input[name=retailer_product_id]:checked');
                if (!checked_inputs.length || !confirm('{{ _('Are you sure to create an invoice with these items ?') }}')) {
                    return true;
                }
                checked_inputs.each(function() {
                    retailer_product_ids.push($(this).val());
                });
                $.ajax({
                    url: self.attr('href'),
                    method: 'POST',
                    dataType: 'json',
                    data: {
                        retailer_product_ids: retailer_product_ids
                    },
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        checked_inputs.parents('.retailer_product').hide();
                        $(document).trigger('update-tab-counts', [response.tab_counts]);
                    }
                });
            });
        });
    </script>
{% endblock script %}
