{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'stocks' %}

{% block list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ _('Product name') }}</th>
                <th>{{ _('Retailer price excl. VAT') }}</th>
                <th>{{ _('Retailer price incl. VAT') }}</th>
                <th>{{ _('TAB price excl. VAT') }}</th>
                <th>{{ _('TAB price incl. VAT') }}</th>
                <th style="width: 95px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                {% set price_incl_tax = stock.product.unit_price %}
                {% set price_excl_tax = price_incl_tax / g.config.get('APP_VAT') %}
                {% set retailer_excl_tax = price_incl_tax * (1 - retailer.fees_proportion) %}
                {% set retailer_incl_tax = retailer_excl_tax * g.config.get('APP_VAT') %}
                <tr class="retailer_product" data-product-order-id="{{ stock.id }}">
                    <td>{{ stock.product.title }}</td>
                    <td>{{ retailer_excl_tax|currency }}</td>
                    <td>{{ retailer_incl_tax|currency }}</td>
                    <td>{{ price_excl_tax|currency }}</td>
                    <td>{{ price_incl_tax|currency }}</td>
                    <td>
                        {% if can_access('retailers_stocks_bp.sell') %}
                            <a href="{{ url_for('retailers_stocks_bp.sell', retailer_id=retailer.id, retailer_product_id=stock.id) }}" class="sell_retailer_product btn btn-success btn-sm">{{ _('Sell') }}</a>
                        {% endif %}
                        {% if can_access('retailers_stocks_bp.delete') %}
                            <a href="{{ url_for('retailers_stocks_bp.delete', retailer_id=retailer.id, retailer_product_id=stock.id) }}" class="delete_retailer_product btn btn-danger btn-sm">X</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var csrf_token = '{{ csrf_token() }}';
            $('.sell_retailer_product').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('{{ _('Are you sure to sold this product ?') }}')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer_product').hide();
                        $(document).trigger('update-tab-counts', [response.tab_counts]);
                    }
                });
            });
            $('.delete_retailer_product').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('{{ _('Are you sure to delete this product from the stocks ?') }}')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'DELETE',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer_product').hide();
                        $(document).trigger('update-tab-counts', [response.tab_counts]);
                    }
                });
            });
        });
    </script>
{% endblock script %}
