{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'stocks' %}

{% block list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Retailer price HT</th>
                <th>Retailer price TTC</th>
                <th>TAB price HT</th>
                <th>TAB price TTC</th>
                <th style="width: 95px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                {% set price_incl_tax = stock.product.unit_price|float %}
                {% set price_excl_tax = price_incl_tax|float / 1.2 %}
                {% set fees_incl_tax = (price_incl_tax|float) * (retailer.fees_proportion|float) %}
                {% set fees_excl_tax = (price_excl_tax|float) * (retailer.fees_proportion|float) %}
                <tr class="retailer_product" data-product-order-id="{{ stock.id }}">
                    <td>{{ stock.product.title }}</td>
                    <td>{{ (price_excl_tax - fees_excl_tax)|currency }}</td>
                    <td>{{ (price_incl_tax - fees_incl_tax)|currency }}</td>
                    <td>{{ price_excl_tax|currency }}</td>
                    <td>{{ price_incl_tax|currency }}</td>
                    <td>
                        <a href="{{ url_for('retailers_supplies_bp.sell', retailer_id=retailer.id, retailer_product_id=stock.id) }}" class="sell_retailer_product btn btn-success btn-sm">Sell</a>
                        <a href="{{ url_for('retailers_supplies_bp.delete', retailer_id=retailer.id, retailer_product_id=stock.id) }}" class="delete_retailer_product btn btn-danger btn-sm">X</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            var csrf_token = '{{ csrf_token() }}';
            $('.sell_retailer_product').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('Are you sure to sold this product ?')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer_product').hide();
                        $(document).trigger('update-tab-counts', [response.tab_counts]);
                    }
                });
            });
            $('.delete_retailer_product').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('Are you sure to delete this product from the stocks ?')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'DELETE',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer_product').hide();
                        $(document).trigger('update-tab-counts', [response.tab_counts]);
                    }
                });
            });
        });
    </script>
{% endblock script %}
