{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'supplies' %}

{% block list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Retailer price HT</th>
                <th>Retailer price TTC</th>
                <th>TAB price HT</th>
                <th>TAB price TTC</th>
                <th><a class="btn btn-primary btn-sm" href="{{ url_for('retailers_supplies_bp.add', retailer_id=retailer.id) }}">Add products</a></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                {% for product_order in product.orders %}
                    <tr class="retailer_product" data-product-order-id="{{ product_order.id }}">
                        <td>{{ product.title }}</td>
                        <td>{{ '{:.2f} €'.format(product.retailer_price_excl_tax) }}</td>
                        <td>{{ '{:.2f} €'.format(product.retailer_price_incl_tax) }}</td>
                        <td>{{ '{:.2f} €'.format(product.tab_price_excl_tax) }}</td>
                        <td>{{ '{:.2f} €'.format(product.tab_price_incl_tax) }}</td>
                        <td>
                            <a href="{{ url_for('retailers_supplies_bp.sell', retailer_id=retailer.id, retailer_product_id=product_order.id) }}" class="sell_retailer_product btn btn-success btn-sm">Sell</a>
                            <a href="{{ url_for('retailers_supplies_bp.delete', retailer_id=retailer.id, retailer_product_id=product_order.id) }}" class="delete_retailer_product btn btn-danger btn-sm">X</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock list %}

{% block script %}
    <script>
        $(document).ready(function() {
            var csrf_token = '{{ csrf_token() }}';
            $('.sell_retailer_product').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('Are you sure to sold this product ?')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer_product').hide();
                    }
                });
            });
            $('.delete_retailer_product').on('click', function(e) {
                e.preventDefault();
                var self = $(this);
                if (!confirm('Are you sure to delete this product from the stocks ?')) {
                    return true;
                }
                $.ajax({
                    url: self.attr('href'),
                    type: 'DELETE',
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token);
                        }
                    },
                    success: function(response) {
                        self.parents('.retailer_product').hide();
                    }
                });
            });
        });
    </script>
{% endblock script %}
