{% extends 'retailers/retailer.html' %}

{% set retailer_tab = 'supplies' %}

{% block list %}
    <br />
    <a class="btn btn-primary" href="{{ url_for('retailers_bp.add_supplies', retailer_id=retailer.id) }}">Add products</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Retailer price HT</th>
                <th>Retailer price TTC</th>
                <th>TAB price HT</th>
                <th>TAB price TTC</th>
                <th></th>
            </tr>
        </thead>
        {% for retailer_product in retailer_products %}
            <tbody>
                <tr>
                    <td>{{ retailer_product.product.title }}</td>
                    <td>{{ '{:.2f} €'.format(retailer_product.product.retailer_price_excl_tax) }}</td>
                    <td>{{ '{:.2f} €'.format(retailer_product.product.retailer_price_incl_tax) }}</td>
                    <td>{{ '{:.2f} €'.format(retailer_product.product.tab_price_excl_tax) }}</td>
                    <td>{{ '{:.2f} €'.format(retailer_product.product.tab_price_incl_tax) }}</td>
                    <td>
                        <button class="btn btn-success btn-sm">Vendu</button>
                        <button class="btn btn-danger btn-sm">X</button>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock list %}
